/* background-color: #1F254B;
color:#628BC8; */

body {
    background: rgb(253,255,245);
    background: linear-gradient(0deg, rgba(253,255,245,1) 10%, rgba(255,250,250,1) 30%);
    /* background-color: #d9ecef; original */
    text-align: center;
}

header {
    background-color: #eac459;
    color: #115f72;
    padding: 1px;
    margin: -8px;
}

main {
    width: 350px;
    height: 600px;
    margin: 50px auto 0 auto;
    border-radius: 15px;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 1%, rgba(17,95,114,1) 15%);
    /* background-color: #115f72; original */
    color: #eac459;
}

.main--img {
    width: 350px;
    height: 230px;
    border-radius: 15px 15px 0 0;
}

main:hover {
    box-shadow: 10px 10px 50px #eac459;
}

.main--title{   
    color: honeydew;
    margin-top: 0px;
}

main > h3, p {
    margin-top: -15px;
}

.main--buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

button {
    border: 2px solid honeydew;
    border-radius: 5px;
    /* margin-top: 20px; */
    padding: 8px 40px;
    background-color: #115f72;
    color: #eac459;
}

main > h4 {
    color: honeydew;
    text-align: left;
    margin-left: 40px;
}