/* background-color: #1F254B;
color:#628BC8; */

body {
    background-color: #d9ecef;
    text-align: center;
}

header {
    background-color: #eac459;
    color: #115f72;
    padding: 1px;
    margin: -8px;
}

main {
    width: 350px;
    height: 600px;
    margin: 50px auto 0 auto;
    border-radius: 15px;
    background-color: #115f72;
    color: #eac459;
}

.main--img {
    width: 350px;
    height: 200px;
    border-radius: 15px 15px 0 0;
}

main:hover {
    box-shadow: 10px 10px 50px #eac459;
}

.main--title{   
    color: honeydew;
}

main > h3, p {
    margin-top: -15px;
}

.main--buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

button {
    border: 2px solid honeydew;
    border-radius: 5px;
    /* margin-top: 20px; */
    padding: 8px 40px;
    background-color: #115f72;
    color: #eac459;
}

main > h4 {
    color: honeydew;
    text-align: left;
    margin-left: 40px;
}