/* background-color: #1F254B;
color:#628BC8; */

body {
    background: rgb(253,255,245);
    background: linear-gradient(0deg, rgba(253,255,245,1) 10%, rgba(255,250,250,1) 30%);
    /* background-color: #d9ecef; original */
    text-align: center;
    margin: 0;
}

header {
    background-color: #eac459;
    box-shadow: 5px 5px 15px #115f72;
    color: #115f72;
    padding: 0.5px 0px;
}

main {
    width: 350px;
    height: 600px;
    margin: 50px auto 0 auto;
    border-radius: 15px;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 1%, rgba(17,95,114,1) 15%);
    /* background-color: #115f72; original */
    color: #eac459;
    transition: 1s;
}

main:hover {
    box-shadow: 0px 0px 30px #eac459;
    transition: 1s;
}

.main--img {
    width: 350px;
    height: 230px;
    border-radius: 15px 15px 0 0;
}


.main--title{   
    color: #fffafa;
    margin-top: 0px;
}

main > h3, p {
    margin-top: -15px;
}

.main--buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

button {
    border: 2px solid #fffafa;
    border-radius: 5px;
    /* margin-top: 20px; */
    padding: 8px 40px;
    background-color: #115f72;
    color: #eac459;
    transition: 1s;
}

button:hover{
    font-size: medium;
    background-color: #eac459;
    color: #115f72;
    transition: 1s;
}

main > h4 {
    color: #fffafa;
    text-align: left;
    margin-left: 30px;
}

ul {
    margin-top: -15px;
}

ul > li {
    text-align: left;
}

footer {
    position: relative;
    bottom: 50px;
    width: 100%;
}

.fab, .far {
    font-size: 40px;
    font-weight: lighter;
    color: #eac459;
    margin: 0px 35px;
} 